@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Saira:ital,wght@0,100..900;1,100..900&display=swap');


@import "tailwindcss";

*{
  font-family: saira, sans-serif;
}

@theme{
  --color-dark-100:#1a1a1a;
  --color-dark-200:#1f1f1f;
  --color-dark-300:#2d2d2d;
  --color-dark-400:#3d3d3d;
  --color-purple:#8B5CF6;
  --color-pink:#EC4899;
  --color-blue:#3B82F6;
}

.typerwriter{
  overflow: hidden;
  border-right: 0.15em solid #3B82F6;
  white-space: nowrap;
  width: 0;
  animation: typing 4s steps(80, end) forwards, blink-caret 1s step-end 4;
}
@keyframes typing{
  from{width: 0;}
  to  {width: 15ch;}
}

@keyframes blink-caret{
  from, to{border-color: transparent;}
  50%     {border-color: #3B82F6;}
}

.myimg{
  z-index: -1;
}

.glow-ring{
  position: absolute;
  width: 220px;
  height: 220px;
  border-radius: 50%;
}